body

{
	margin: 0px;
	font-family: 'Lato', sans-serif;

}

.description

{
	display: flex;
}
.description h1

{
	margin-top: 0px;
	color: white;
	padding: 250px;
	padding-left: 150px;
	font-size: 45px;
}

#description-subtitle

{
	padding-left: 105px;
    padding-top: 15px;
}
.background-image

{
	background-image: url(images/solarpanel.jpg);
	background-repeat: no-repeat;
	height: 1000px;
	background-size: 100%;
	zoom: 75%;
}


.formulaire

{
	display: flex;
	flex-direction: column;
	position: absolute;
    top: 50px;
    right: 150px;
}

.formulaire input

{
	height: 50px;
	width: 300px;
	margin-bottom: 15px;
}

button

{
	height: 55px;
	width: 305px;
	border-radius: 5px;
	background-color: #448aff;
	border: 0.5px solid #6b6f7b;
	border-radius: 25px;
	color: white;
	font-size: 25px;
}


