body

{
	margin: 0px;
	font-family: 'Lato', sans-serif;
	background-color: rgb(242, 242, 242);
}

.description

{
	display: flex;
	justify-content: space-between;
}
.description h1

{
	margin-top: 0px;
	color: white;
	padding: 250px;
	padding-left: 150px;
	font-size: 45px;
}

#description-subtitle

{
	padding-left: 105px;
    padding-top: 15px;
}
.background-image

{
	background-image: url(images/solarpanel.jpg);
	background-repeat: no-repeat;
	height: 1000px;
	background-size: 100%;
	zoom: 65%;
}


.formulaire

{
	display: flex;
	flex-direction: column;
	position: absolute;
    top: 50px;
    right: 150px;
    padding: 30px;
    background-color: rgba(232, 223, 223, 0.4);
}

.formulaire input

{
	height: 40px;
    border-radius: 2px;
    border: 0.5px solid white;
    width: 280px;
    margin-bottom: 12px;
    font-size: 12px;
    padding-left: 8px;
}

button

{
	height: 55px;
	width: 305px;
	border-radius: 5px;
	background-color: #f10303;
	border: 0.25px solid #6b6f7b;
	border-radius: 25px;
	color: white;
	font-size: 23px;
}

button:hover

{
	background-color: black;
	transition-property: background-color;
	transition-duration: 0.5s;
}

article

{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.sentence-center

{
	margin-top: 33px;
	margin-bottom: 33px;
	text-align: center;
}

.img-aside

{
	display: flex;	
}

.img-aside img

{
	border-radius: 3px;
}


.img-aside p

{
	margin-left: 25px;
	margin-right: 25px;
	text-align: justify;
	font-size: 18px;
}













